[Desktop Entry]
Name=Display Settings
Name[de]=Display-Einstellungen
Exec=dsbds
Icon=video-display
Terminal=false
StartupNotify=false
Type=Application
Categories=Settings;DesktopSettings;

